<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Health Prediction</title>
</head>

<body>
    <h1>Health Prediction System</h1>
    <button onclick="window.location.href='/kidney'">Kidney Disease Prediction</button>
    <button onclick="window.location.href='/kidney_image'">Kidney Image Prediction</button>
    <button onclick="window.location.href='/symptoms'">Symptoms-based Disease Prediction</button>
    <button onclick="window.location.href='/breast'">Breast Cancer Prediction</button>
    <button onclick="window.location.href='/brain'">Brain Tumor Prediction</button>
    <button onclick="window.location.href='/lung'">Lung Cancer Prediction</button>
    <button onclick="window.location.href='/pneumonia'">Pneumonia Prediction</button>

</body>

</html>
